@charset "utf-8";

/* CSS Document */
*{margin:0 0;
   padding:0 0;
}
.title{
    width:200px;
	height:70px;
	margin: 0 auto;
	font-family:"宋体";
	font-size:24px;
	color:#F00;	
	padding-top:20px;
	}
#btns{
    width:200px;
	height:30px;
	margin:0 auto;
	
	}
#btns span{
	display:block;
	float:left;
     background:#CC9;
	 width:80px;
	 height:30px;
	 line-height:30px;
	 margin-left:-12px;
	 margin-right:15px;
	 border-radius:5px;
	 text-align:center;
	 cursor:pointer;
	}		